# Ignore all files used to compile on VSCode
Photoresistance\ Practice/.vscode
Photoresistance\ Practice/build
Motion\ Sensor\ Practice/.vscode
Motion\ Sensor\ Practice/build
Temperature\ and\ Humidity\ Sensors/.vscode
Temperature\ and\ Humidity\ Sensors/build